<div>
</div>

<nav role="navigation">
  <div id="menuToggle">
    <input type="checkbox" />

    <span></span>
    <span></span>
    <span></span>

    <ul id="menu">
      <a href="#"><img class="imagenMenu" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/84c20033850498.56ba69ac290ea.png">
        <li>Luis Felipe</li>
      </a>
      <a href="#">
        <li>
          <h3 style="font-size: 12px; margin: 0px;">Gerenciar perfis</h3>
        </li>
      </a>
      <a href="#">
        <li>
          <h3 style="font-size: 12px; margin: 0px;">Conta</h3>
        </li>
      </a>
      <a href="#">
        <li>
          <h3 style="font-size: 12px; margin: 0px;">Centro de ajuda</h3>
        </li>
      </a>
      <a href="#">
        <li>
          <h3 style="font-size: 12px; margin: 0px;">Sair da Netflix</h3>
        </li>
      </a>
    </ul>
  </div>
</nav>

<div class="div2">
  <div id="menu5">

    <h4 style="color: red; text-align: center; margin: 0px 0px 0px 0px; font-size: 28px; font-weight: bold;">LUISFLIXBLOG</h4>

    <a href="index.html">&nbsp;Linkedin&nbsp;</a>
    <a href="#">&nbsp;Github&nbsp;</a>
    <a href="#">&nbsp;Youtube&nbsp;</a>

  </div>

  <div>
    <h4 style="color: red">LUISFLIXBLOG</h4>
    <p style="margin: 3px 0px -27px 120px;
     padding: 0px;
     font-size: 18px;">Original</p>
    <h1 style="font-size: 52px; 
       margin: 20px 10px -10px 50px ;
       font-weight: bold; 
       font-family: Courier New, monospace">ONE</h1>
    <h1 style="font-size: 52px; 
       margin: 0px 10px -10px 100px ;
       font-weight: bold;
       font-family: Courier New, monospace">PIECE</h1>

    <p class="descricao">A pequena cidade de Hawkins é cenário de estranhos acontecimentos. Após o desaparecimento de um garoto, surge uma menina com poderes sobrenaturais. Assista agora a nova temporada de Stranger Things que está imperdível.</p>
    <div>
      <div class="botoes">
        <button role="button" class="botao">
          <i class="fas fa-play"></i>
          ASSISTIR AGORA
        </button>
        <button role="button" class="botao">
          <i class="fas fa-info-circle"></i>
          MAIS INFORMAÇÕES
        </button>
      </div>
    </div>
    <br>
    <br>