<div>
</div>

<nav role="navigation">
  <div id="menuToggle">
    <input type="checkbox" />

    <span></span>
    <span></span>
    <span></span>

    <ul id="menu">
      <a href="#"><img class="imagenMenu" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/84c20033850498.56ba69ac290ea.png">
        <li>Luis Felipe</li>
      </a>
      <a href="#">
        <li>
          <h3 style="font-size: 12px; margin: 0px;">Gerenciar perfis</h3>
        </li>
      </a>
      <a href="#">
        <li>
          <h3 style="font-size: 12px; margin: 0px;">Conta</h3>
        </li>
      </a>
      <a href="#">
        <li>
          <h3 style="font-size: 12px; margin: 0px;">Centro de ajuda</h3>
        </li>
      </a>
      <a href="#">
        <li>
          <h3 style="font-size: 12px; margin: 0px;">Sair do LUISFLIXBLOG</h3>
        </li>
      </a>
    </ul>
  </div>
</nav>

<div class="div2">
  <div id="menu5">

    <h4 style="color: red; text-align: center; margin: 0px 0px 0px 0px; font-size: 28px; font-weight: bold;">LUISFLIXBLOG</h4>

    <a href="https://www.linkedin.com/in/luisgomesp/">&nbsp;Linkedin&nbsp;</a>
    <a href="https://github.com/Lipez800">&nbsp;Github&nbsp;</a>
    <a href="#">&nbsp;Youtube&nbsp;</a>

  </div>

  <div>
    <h4 style="color: red">LUISFLIXBLOG</h4>
    <p style="margin: 3px 0px -27px 120px;
     padding: 0px;
     font-size: 18px;">Original</p>
    <h1 style="font-size: 52px; 
       margin: 20px 10px -10px 50px ;
       font-weight: bold; 
       font-family: Courier New, monospace">ONE</h1>
    <h1 style="font-size: 52px; 
       margin: 0px 10px -10px 100px ;
       font-weight: bold;
       font-family: Courier New, monospace">PIECE</h1>

    <p class="descricao">O pirata Monkey D. Luffy e sua tripulação exploram um mundo fantástico de oceanos infinitos e ilhas exóticas em busca do maior tesouro do mundo
    </p>
    <div>
      <div class="botoes">
        <button role="button" class="botao" id="onepiece" (click)="abrirModal('onepiece')">
          <i class="fas fa-info-circle"></i>
          MAIS INFORMAÇÕES
        </button>
      </div>

    </div>
    <!-- Janela modal -->
    <div class="modal" *ngIf="modalAberta">
      <div class="modal-content">
        <span class="close" (click)="fecharModal()">VOLTAR</span>
        <div class="modal-details">
          <img src="assets/onepiece.webp" alt="{{ idSelecionada.nome }} Foto" />
          <h2>One Piece</h2>
          <p>Aventuras emocionantes de Monkey D. Luffy e sua tripulação enquanto buscam o tesouro supremo, o One Piece.</p> <!-- Adicione a descrição aqui -->
          <!-- Outras informações da ID aqui -->
        </div>
      </div>
    </div>
    <br>
    <br>