<h3>Originais NetFlix</h3>
<div class="container">
  <div class="card"><img src="assets/AliceInBorderland.webp" /></div>
  <div class="card"><img src="assets/BetterCallSaul.webp" /></div>
  <div class="card"><img src="assets/ELCamino.webp" /></div>
  <div class="card"><img src="assets/LaCasaDePapel.webp" /></div>
  <div class="card"><img src="assets/OLegadoDeJupiter.webp" /></div>
  <div class="card"><img src="assets/onepiece.webp" /></div>
</div>
<br>
<br>
<div>
  <h2 class="h2">Todos os Direitos Reservados. ©Luis Felipe 2023</h2>
</div>