<h3>Novidades</h3>
<div class="container">
  <div class="card" *ngFor="let id of idsComNomeEImagem" [id]="id.id" (click)="abrirModal(id)">
    <img [src]="id.foto" alt="{{ id.nome }} Foto" />
  </div>
</div>

<!-- Janela modal -->
<div class="modal" *ngIf="modalAberta">
  <div class="modal-content">
    <span class="close" (click)="fecharModal()">VOLTAR</span>
    <div class="modal-details">
      <img [src]="idSelecionada.foto" alt="{{ idSelecionada.nome }} Foto" />
      <h2>{{ idSelecionada.nome }}</h2>
      <p>{{ idSelecionada.descricao }}</p> <!-- Adicione a descrição aqui -->
      <!-- Outras informações da ID aqui -->
    </div>
  </div>
</div>

<br>
<br>
<div>
  <h2 class="h2">Todos os Direitos Reservados. ©Luis Felipe 2023</h2>
</div>